
  <div #container></div>
  
  <div id="title">
      <img src="../assets/ice.svg" width="50">
    On Thin Ice
  </div>

<div id="controls">
  <button (click)="zoomIn()">+</button>
  <button (click)="zoomOut()">-</button>
</div>

<div id="plan">
  <h3>Plan your expedition</h3>
  <form>
      <br>Name your expedition<br>
      <textarea rows="1" id="title" size="2" style="font-size:15px;"></textarea>
      <br>Number of explorers<br>
      <select id="numberOfPeople">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
      <br>Mass of equipment<br>
      <select id="massOfSupplies">
          <option value="100">100kg</option>
          <option value="200">200kg</option>
          <option value="300">300kg</option>
          <option value="400">400kg</option>
          <option value="500">500kg</option>
          <option value="600">600kg</option>
          <option value="700">700kg</option>
          <option value="800">800kg</option>
          <option value="900">900kg</option>
          <option value="1000">1000kg</option>
          <option value="2000">2000kg</option>
          <option value="3000">3000kg</option>
          <option value="4000">4000kg</option>
          <option value="5000">5000kg</option>
          <option value="6000">6000kg</option>
          <option value="7000">7000kg</option>
          <option value="8000">8000kg</option>
          <option value="9000">9000kg</option>
          <option value="10000">10000kg</option>
        </select>
        <br>Food<br>
        <select id="massOfFood" >
            <option value="100">100kg</option>
            <option value="200">200kg</option>
            <option value="300">300kg</option>
            <option value="400">400kg</option>
            <option value="500">500kg</option>
            <option value="600">600kg</option>
            <option value="700">700kg</option>
            <option value="800">800kg</option>
            <option value="900">900kg</option>
            <option value="1000">1000kg</option>
            <option value="2000">2000kg</option>
            <option value="3000">3000kg</option>
            <option value="4000">4000kg</option>
            <option value="5000">5000kg</option>
            <option value="6000">6000kg</option>
            <option value="7000">7000kg</option>
            <option value="8000">8000kg</option>
            <option value="9000">9000kg</option>
            <option value="10000">10000kg</option>
          </select>
        <input type="hidden" id="waypoints">
  </form>
</div>



