html {
    height: 100%;
  }
 

  #info {

    font-size: 11px;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 3px;
    right: 10px;
    padding: 10px;

  }

  #currentInfo {
    width: 270px;
    position: absolute;
    left: 20px;
    top: 63px;

    background-color: rgba(0,0,0,0.2);

    border-top: 1px solid rgba(255,255,255,0.4);
    padding: 10px;
  }

  a {
    color: #aaa;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .bull {
    padding: 0 5px;
    color: #555;
  }

  #pagetitle {
    color: #cccccc;
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    font-size:30pt;
    padding: 10px;
  }

  #controls {
    color: #cccccc;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    font-size:30pt;
    padding: 10px;
  }

  #plan {
    color: #cccccc;
    position: absolute;
    top: 100px;
    left: 0px;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
    font-size:10pt;
    padding: 10px;
  }

  .year {
    font: 16px Georgia;
    line-height: 26px;
    height: 30px;
    text-align: center;
    float: left;
    width: 90px;
    color: rgba(255, 255, 255, 0.4);

    cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
  }

  .year:hover, .year.active {
    font-size: 23px;
    color: #fff;
  }

  #ce span {
    display: none;
  }

  #ce {
    width: 107px;
    height: 55px;
    display: block;
    position: absolute;
    bottom: 15px;
    left: 20px;
    background: url(../assets/globe/ce.png);
  }